/*
 margin-top:10px
 margin-right:10px
 margin-left:10px
 margin-bottom:10px

margin:
  all
  top/bottom right/left
  top right/left bottom
  top right left bottom

  ※上から与える要素が
    1個、2個、3個、4個の場合。
*/

body {
  margin: 0;
}
div#box1 {
  background: silver;
  margin: 10px 20px 30px;
}
div#box2 {
  background: orange;
  margin: 20px;
}
